.avatar__img {

  object-fit: cover;
  border-radius: 50%;
  border: .2em solid $color-avatar-border;

  &--header {

    width: 180px;
    height: 180px;

  }

  &--min {

    width: 4em;
    height: 4em;

  }

}
