.expertise {
  padding: $blockPadding 0;
}

.expertise__accordion {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expertise__qualification {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  column-gap: 60px;
}


.expertise__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 50px;
  border: 1px solid $blockBorder-color;
  border-radius: 25px;
  @include blockShadows();


  &--full {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-gap: 30px;
    max-width: 100%;
  }
}

.expertise__title {
  @include montserrat-600(20px, 32px);
  padding-bottom: 20px;
}

.expertise__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertise__image {
  @include blockShadows();

  &--gallery {
    width: 350px;
    object-fit: cover;
  }
}

.expertise__text {
  max-width: 90%;
}

.expertise__images-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 60px;
  grid-column: 1/3;
}
