.feedback__block {

  &:not(:last-of-type) {

    margin-bottom: 1.5em;

  }

}

.feedback__slide {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.feedback__img {

  @include blockShadows();

}

