.telegram {

  display: flex;
  justify-content: center;
  width: 100%;

}

.telegram__link {

  position: relative;
  @include montserrat-500($base-subtitle-small, $base-line-height, $color-white);
  display: block;
  padding: 1em;
  width: 100%;
  text-align: center;
  background-color: $color-blue;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

}

.telegram__icon {

  display: inline-block;
  transform: translateX(-50%);

}
