
// Colors

$color-white:                   #FFFFFF;
$color-blue:                    #61a8de;
$spare-background:              cornflowerblue;
$overlay-background:            rgba(0, 43, 102, 0.5);
$blockShadow-color:             rgba(0, 0, 0, .05);
$blockBorder-color:             rgba(0, 0, 0, .08);
$text-gray-color:               #444444;
$social-icons-color:            rgba(71, 74, 79, .7);
$social-icons-color-hover:      rgba(71, 74, 79, .9);

// Viewports

$mobile-width:                  767px;
$tablet-width:                  1023px;

// Padding

$blockPadding:                  20px;

// Fonts

// Desktop

$base-text-height:              0.65rem;
$base-text-line-height:         0.8rem;

$base-subtitle-height:          0.85rem;
$base-subtitle-line-height:     1.1rem;

$base-title-height:             1.25rem;
$base-title-line-height:        1.5rem;

// Mobile

$mobile-text-height:              0.65rem;
$mobile-text-line-height:         0.8rem;

$mobile-subtitle-height:          1.25rem;
$mobile-subtitle-line-height:     1.5rem;

$mobile-title-height:             1.72rem;
$mobile-title-line-height:        2rem;
