
// Colors

$color-white:                   #FFFFFF;
$color-blue:                    #61a8de;
$color-blue-2:                  #0088cc;
$spare-background:              cornflowerblue;
$overlay-background:            rgba(0, 43, 102, 0.5);
$blockShadow-color:             rgba(0, 0, 0, .05);
$blockBorder-color:             rgba(0, 0, 0, .08);
$color-avatar-border:           rgba(0, 0, 0, .1);
$text-gray-color:               #5c5c5c;
$social-icons-color:            rgba(71, 74, 79, .7);
$social-icons-color-hover:      rgba(71, 74, 79, .9);

// Viewports

$mobile-width:                  767px;
$tablet-width:                  1023px;

// Padding

$blockPadding:                  20px;

// Fonts

// Desktop

$base-text:                     0.65rem;
$base-text-line-height:         calc($base-text + 20%);

$base-subtitle-large:           1.25rem;
$base-subtitle-medium:          0.8rem;
$base-subtitle-small:           0.64rem;
$base-line-height:              1.3rem;

$base-title:                    1.563rem;

// Mobile

$mobile-text:                   0.85rem;
$mobile-text-line-height:       calc($mobile-text + 20%);

$mobile-subtitle-large:         1.2rem;
$mobile-subtitle-medium:        0.833rem;
$mobile-subtitle-small:         0.694rem;

$mobile-title:                  1.728rem;
