$base-font-size: 28px;

// Colors

$color-white:            #F9FBFD;
$color-blue:             #011C40;
$spare-background:       cornflowerblue;
$overlay-background:     rgba(0, 43, 102, 0.5);

// Viewports


$mobile-width:                            767px;
$tablet-width:                           1023px;
