.expertise {
  padding: 0;
}

.expertise__accordion {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expertise__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto;
}

