.telegram__link:hover {

  color: $color-white;
  //box-shadow: inset 0 0 30px 20px rgba(0,136,204,0.7);
  //opacity: 0.95;
  background-color: $color-blue;

  & .telegram__icon {

    left: 10%;

    & span {

      display: block;

    }


  }

& .telegram__icon > svg {

  fill: $color-white;
  stroke: $color-white;

}

}

.telegram__link:active {

  box-shadow: inset 0 0 0 2px $color-blue-2;
  opacity: 0.6;

}
